$main-color: #980000ff;
$font-family: merriweather;
$page-color: #eeeeeeff;
#fbranding {
    background-color: $main-color;
}

.ftable-container {
    min-height: 480px;
}

html {
    @media (min-width: 768px) {
        background-color: $page-color;
    }

    @media (max-width: 768px) {
        background-color: #fff;
    }
}

body {
    font-family: $font-family;
    font-size: 16px;
}

.fselected {
    @media(max-width: 1024px) {
        background-color: white;
        color: #3273DC;
    }
    @media(min-width: 1025px) {
        background-color: #292929;
    }
}

i.searching {
    animation: spinAround .5s infinite linear;
}

.fmessage {
    width: 100%;
}

button.fbutton {
    background-color: $main-color;
    color: white;
    border-color: $main-color;
}

.panel.card {
    border-radius: 12px;
}

.has-addons button {
    min-width: 250px;
    @media (min-width: 1025px) and (max-width: 1360px) {
        min-width: 200px;
    }
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #4a4a4a;
}

button.fbutton:hover {
    background-color: $main-color;
    color: white;
    border-color: $main-color;
}

.pagination-link.is-current {
    background-color: $main-color;
    border-color: white;
}

button.fbutton:focus {
    background-color: $main-color;
    color: white;
}

footer.has-background-white.modal-card-foot {
    border: 0;
}

.table.is-hoverable tbody tr:hover {
    background-color: $page-color !important;
}

.is-danger.input {
    color: $main-color;
    border-color: $main-color;
}

.message.is-danger .message-header {
    background-color: $main-color;
}

#overlay-search {
    background-color: #ffffffab;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
